
@import url('https://fonts.googleapis.com/css2?family=Manrope&family=Montserrat&display=swap');

/* Design System */
:root {
    /* Colors */
    --bleue_nuit: #1F2039;
    --bleue_clair: #A5B4FC;
    --black: #242424;
    --white: #F9F8FF;

    /* test configuration*/ 

    --header-font: 'Manrope';
    --body-font: 'Manrope';
    --body-title-font: 'Montserrat';

    --header-font-weight: 400;
    --body-font-weight: 400;
    --body-title-font-weight: 400;

    --header-font-size: 1.125rem ;
    --body-font-size: 1.25;
    --body-title-font-size: 3.44;
}

body {
    background-color: var(--white);
    font-family: var(--body-font);
    font-style: normal;
    font-size: var(--body-font-size);
    font-weight: var(--body-font-weight);
    color: var(--black);
}

